@charset "UTF-8";
body {
	padding: 0;
	margin: 0;
}

img {
	position: absolute;
}

.sim {
  	left: 771px;
  	top: 45px;
}

.star {
	opacity: 1;
  	left: 827px;
  	top: 98px;
	background-image: url("Images/star.png")
}

.bag {
	opacity: 0;
  	left: 874px;
  	top: 189px;
	background-image: url("Images/bag.png");
}

.cloak {
	opacity: 1;
	left: 727px;
	top: 178px;
	background-image: url("Images/cloak.png");
	z-index:100
}

.staricon {
    left: 83px;
    top: 123px;
}

.cloakicon {
    left: 39px;
    top: 305px;
}

.bagicon {
    left: 79px;
    top: 532px;
}
.blue {
    left: 12px;
    top: -1px;
}
